# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '8.x'
  displayName: 'Install Node.js'

- script: |
    npm install
    # npm run build
    npm install -g grunt
    npm install -g grunt-cli
    npm install -g tfx-cli
    # grunt package-dev
  displayName: 'npm install dependency'

- task: Grunt@0
  inputs:
    gruntFile: 'gruntfile.js' 
    targets: package-dev
    # arguments: # Optional

# #Your build pipeline references an undefined variable named ‘Extension.Version’. Create or edit the build pipeline for this YAML file, define the variable on the Variables tab. See https://go.microsoft.com/fwlink/?linkid=865972
- task: ms-devlabs.vsts-developer-tools-build-tasks.publish-extension-build-task.PublishExtension@1
  displayName: 'Publish Extension'
  inputs:
    connectedServiceName: 'cofomo-henrickpoliquin'
    fileType: vsix
    vsixFile: '$(System.DefaultWorkingDirectory)/dist/cofomo-henrickpoliquin.vsts-work-item-create-child-links-dev-0.1.3.vsix'
    extensionName: 'Create Child links'
    updateTasksVersion: false
    extensionVisibility: private
    extensionPricing: free