# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '8.x'
  displayName: 'Install Node.js'

- script: |
    npm install
    # npm run build
    npm install -g grunt
    npm install -g grunt-cli
    npm install -g tfx-cli
    # grunt package-dev
  displayName: 'npm install dependency'

- task: Grunt@0
  inputs:
    gruntFile: 'gruntfile.js'
    targets: package-dev
    # arguments: # Optional

# - task: Grunt@0
#   inputs:
#     gruntFile: 'gruntfile.js'
#     targets: publish-dev

- task: TfxInstaller@2
  inputs:
    version: 'v0.6.x'

- task: QueryAzureDevOpsExtensionVersion@2
  inputs:
    connectTo: 'VsTeam'
    connectedServiceName: 'cofomo-henrickpoliquin'
    publisherId: 'Cofomo-HenrickPoliquin'
    extensionId: 'vsts-work-item-create-child-links-dev'
    versionAction: 'Patch'
- task: PackageAzureDevOpsExtension@2
  inputs:
    rootFolder: 
    outputPath: '$(System.DefaultWorkingDirectory)/dist/'
    publisherId: 'Cofomo-HenrickPoliquin'
    extensionId: 'vsts-work-item-create-child-links-dev'
    extensionName: 'Creation de demandes de soutien'
    extensionVersion: '$(Extension.Version)'
    updateTasksVersion: false
    extensionVisibility: 'private'
    extensionPricing: 'free'

- task: PublishAzureDevOpsExtension@2
  inputs:
    connectTo: 'VsTeam'
    connectedServiceName: 'cofomo-henrickpoliquin'
    fileType: 'vsix'
    vsixFile: '$(System.DefaultWorkingDirectory)/dist/cofomo-henrickpoliquin.vsts-work-item-create-child-links-dev-$(Extension.VersionOverride).vsix'
    publisherId: 'Cofomo-HenrickPoliquin'
    extensionId: 'vsts-work-item-create-child-links-dev'
    extensionName: 'Creation de demandes de soutien'
    extensionVersion: '$(Extension.VersionOverride)'
    extensionVisibility: 'private'
    extensionPricing: 'free'


# - task: PublishExtension@1
#   displayName: 'Publish Extension'
#   inputs:
#     connectedServiceName: 'cofomo-henrickpoliquin'
#     fileType: vsix
#     vsixFile: '$(System.DefaultWorkingDirectory)/dist/cofomo-henrickpoliquin.vsts-work-item-create-child-links-dev-$(Extension.Version).vsix'
#     extensionName: 'Create Child links'
#     updateTasksVersion: true
#     extensionVisibility: private
#     extensionPricing: free

# - task: ms-devlabs.vsts-developer-tools-build-tasks.publish-extension-build-task.PublishExtension@1
#   displayName: 'Publish Extension'
#   inputs:
#     connectedServiceName: 'cofomo-henrickpoliquin'
#     fileType: vsix
#     vsixFile: '$(System.DefaultWorkingDirectory)/dist/cofomo-henrickpoliquin.vsts-work-item-create-child-links-dev-0.1.3.vsix'
#     extensionName: 'Create Child links'
#     updateTasksVersion: false
#     extensionVisibility: private
#     extensionPricing: free


# # #Your build pipeline references an undefined variable named ‘Extension.Version’. Create or edit the build pipeline for this YAML file, define the variable on the Variables tab. See https://go.microsoft.com/fwlink/?linkid=865972
# - task: ms-devlabs.vsts-developer-tools-build-tasks.publish-extension-build-task.PublishExtension@1
#   displayName: 'Publish Extension'
#   inputs:
#     connectedServiceName: 'cofomo-henrickpoliquin'
#     fileType: vsix
#     vsixFile: '$(System.DefaultWorkingDirectory)/dist/cofomo-henrickpoliquin.vsts-work-item-create-child-links-dev-0.1.3.vsix'
#     extensionName: 'Create Child links'
#     updateTasksVersion: false
#     extensionVisibility: private
#     extensionPricing: free
